<%- include('partials/_header'); -%>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/update/<%= data.id %>" method="post">
                        <div class="form-group">
                            <input type="text" name="nombre_alumno" value="<%= data.nombre_alumno %>" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="email" name="email_alumno" value="<%= data.email_alumno %>" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="curso_alumno" value="<%= data.curso_alumno %>" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="tipo" value="<%= data.tipo %>" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            Actualizar Estudiante
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/_footer'); -%>
